.block {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.cart, .dishes {
  text-align: center;
  background-color: antiquewhite;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

img {
  width:500px;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #4c4f4f);
}

.cartIcon {
  width: 70px;
}

.icon {
  width: 25px;
}

h1 {
  background-image: url('https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fHBpenphfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60');
  background-repeat: repeat;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 140px;
  text-align: center;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

h3 {
  text-decoration: underline overline #0E8388;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

P {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

.dishCart {
  font-size: 22px;
}

.quantity {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.category {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 30px;
  border: 3mm ridge rgba(72, 173, 164, 0.6); 
}

.categoryButtonSelected {
  background-color: #0E8388;
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
}

.categoryButton:hover {
  background-color: rgba(72, 173, 164, 0.6);
  font-weight: 600;
  padding: 5px;
}

.price {
  text-decoration: underline #0E8388;
}

button {
  background-color: #d5f1e8;
  margin: 5px;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  border: solid 1px #0E8388;
  border-radius: 3px;
  filter: drop-shadow(2px 2px 2px #4c4f4f);

}

.addToCart:hover, .order:hover {
  background-color: #0E8388;
  color: #d5f1e8;
}

.orderNone {
  display: none;
}

.order {
  display: block;
  margin: 0 auto;
}

@media all and (max-width:500px){

  .block {
    flex-direction: column;
  }

  h1 {
    font-size: 33px;
  }

  img {
    width: 300px;
  }

  h2, h3, p, .dishCart {
    font-size: 18px;
  }

  .category {
    flex-direction: column;
  }
}

@media all and (max-width:800px){

  h1 {
    font-size: 60px;
  }


  img {
    width: 350px;
  }

  .category {
    flex-direction: column;
  }
}